body {
  margin: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.vertical {
  writing-mode: vertical-lr;
}

.triangle {
  width:0px;
  height:0px;
  border-right:60px solid  transparent;
  border-bottom:60px solid yellow;
  border-left:60px solid transparent;
}