body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.vertical {
transform: rotate(-90deg);
 font-size: 80px;
}

.circle {
  background-color: blue;
  height: 450px;
  border-radius: 225px;
  width:450px;
  grid-column-start: 2;
  grid-column-end: 9;
}

.triangle {
  width:0px;
  height:0px;
  border: right 300px solid  transparent;
  border-bottom: 300px solid yellow;
  border-left: 300px solid transparent;
  grid-column-start: 4;
  grid-column-end: 10;
}

.square {
  width:400px;
  height:400px;
  background-color: red;
  transform: rotate(45deg);
  grid-column-start: 2;
  grid-column-end: 9;
  opacity: 0.65;
}