body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
}

header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.vertical {
 font-size: 80px;
 transform: rotate(-90deg);
 transform-origin: right;
}

.circle {
  background-color: blue;
  height: 600px;
  border-radius: 300px;
  width: 600px;
  grid-column-start: 2;
  grid-column-end: 9;
}

.triangle {
  width:0px;
  height:0px;
  border-right: 300px solid  transparent;
  border-left: 300px solid transparent;
  border-bottom: 450px solid yellow;
  grid-column-start: 2;
  grid-column-end: 10;
}

.square {
  width:400px;
  height:400px;
  background-color: red;
  transform: rotate(45deg);
  grid-column-start: 2;
  grid-column-end: 9;
  opacity: 0.65;
}